<%= render partial: "nav" %>

<div class="container">
  <div class="col-md-6 results" style="">
    <% @results.each do |result| %>
    <%= render partial: result %>
    <% end %>
  </div>
</div>

<%= render partial: 'layouts/footer' %>
