<%= render partial: 'layouts/nav' %>

<div class="container">
  <div class="col-lg-12 results">
    <% @results.each do |result| %>
    <%= render partial: result %>
    <% end %>
  </div>
</div>

<%= render partial: 'layouts/footer' %>
