<%= render partial: 'layouts/nav' %>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers([
  {
    "lat": 0,
    "lng": 0,
    "picture": {
      "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
      "width":  30,
      "height": 30
    },
    "infowindow": "Hello World!"
  }
]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});


var marker;
function createMarker(coords, map, title){
  marker = new google.maps.Marker({
    position: coords,
    map: map,
    title: title
  });
}
</script>

<div class="container">
  <div style='width: 800px;'>
    <div id="map-container" style='width: 800px; height: 400px;'>
      <div id="map-canvas"></div>
    </div>
  </div>

</div>


<%= render partial: 'layouts/footer' %>
