
<!-- this partial is rendered as the 'result' of the program search -->

  <!--  Activate once Avatar uploader is complete -->
  <%#= school.avatar %>
  <h3><%= program.name %></h3>
  <p><%= school.name %></p>
  <p><%= school.city %></p>
  <p><%= program.price %></p>
