<%= render '/layouts/nav' %>

<div class="container" style="padding-top: 100px;">
  <h2>All We've Got</h2>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <p>
      Browse our complete database of North American coding programs. Cherry-picked from far &amp; wide for keeners like you. 
    </p>
  </div>
  <div class="col-md-4">

  </div>
</div>
