<%= render '/layouts/nav' %>

<div class="container center-text" style="padding-top: 100px;">
  <h2 class="center-text">All Programs</h2>
    <p>
      Browse our complete database of North American coding programs. Cherry-picked from far &amp; wide for keeners like you.
    </p>

  <div class="col-md-4">
    <% @program.each do |program| %>
    <div class="well">
      <h2><%= @program.name %></h2>
      <p><%= @program.description %></p>
    </div>
<% end %>

  </div>
</div>
