<%= render partial: 'layouts/nav' %>

<div class="container">

  <h2 class="text-center" style="margin-top:100px;">Add a Program</h2>

  <%= render partial: 'form' %>
</div>
<%= render partial: 'layouts/footer' %>
