<%= render partial: 'layouts/nav' %>

  <div class="jumbotron-red" style="margin-top: 50px;">

  <div class="title">
    <h2 style="margin-top: 20px;">Edit Your Bootcamp</h2>
  </div>

<%= render partial: 'form' %>

<%= render partial: 'layouts/footer' %>
