<div class="jumbotron-white">
  <!-- VIDE JS video goes here -->
  <h1> ~ VIDE JS GOES HERE ~ </h1>
  <div style="width: 100%; height: 100vh; position: fixed;" data-vide-bg="videos/wheat.mp4" data-vide-options="loop: true, muted: true, position: 0% 0%">

</div>

<div class="nav">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">FAQ</a></li>
    <li role="presentation"><a href="#">Blog</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
  </ul>
</div>

  <div class="jumbotron-red">
      <h1>FIND A BOOTCAMP</h1>
      <div class="col-lg-6">
        <h3>Find a Local School</h3>
        <p>Where do you want to study?</p>

        <input type="text" name="search" placeholder="eg. San Francisco" class="city-search">
        <br>
        <input type="button" name="go" value="Search" class="btn btn-default">

        <%#= form_for @search do |f| %>
        <%#= f.city :city %>
        <%# end %>

      </div>
      <div class="col-lg-6">
        <h3>Search by Subject</h3>
        <p>What do you want to learn?</p>
        <input type="text" name="search" placeholder="eg. Ruby on Rails" class="subject-search">
        <br>
        <input type="button" name="go" value="Search" class="btn btn-default">
      </div>
  </div>




  <div class="jumbotron-blue">
    <h2>Featured Schools</h2>

  </div>
