<%= render partial: "nav" %>
<h2>All Schools</h2>

<% @schools.each do |school| %>
<div class="well">

  <h2><%= link_to school.name, school_path %></h2>
  <p><%= school.description %></p>

</div>

<% end %>
