<%= render partial: 'layouts/nav' %>

<div class="container-faq">
  <div class="col-lg-12">
    <h1 style="color: #fff; margin-top: 50px;">Frequently Asked Questions</h1>
    </div>

    <div class="col-lg-6 col-md-push-3 text-center" style="margin-top: 150px;">
      <h3 style="color: #fff;">
        Answers to the most frequently asked questions about programming bootcamps, applications, interviews, average salaries, job placement, reviews and more!
      </h3>
    </div>
</div>

<div class="container concrete" style="padding-left: 4em; padding-right: 4em;">
  <div class="col-lg-12 faq">
    <h3>What's a Bootcamp?</h3>
    <p>
      Coding bootcamps are intensive, accelerated learning programs that teach beginners digital skills like Full-Stack Web Development, Data Science, Digital Marketing, and UX/UI Design. Bootcamps can vary in length from 6 to 28 weeks, although the average bootcamp is ~10 weeks long. Code schools teach a technical curriculum in popular languages like Ruby on Rails, Python on Django, JavaScript, and LAMP Stack, then match students with an employer network.
    </p>

    <h3>Are Programming Bootcamps Regulated or Accredited? </h3>
    <p>
      Yes and no. Much of the appeal for a bootcamp is the agile curriculum and ability to teach the latest technologies. In early 2014, the Bureau for Private Postsecondary Education (BPPE) sent cease & decist letters to many California code schools, later coined a "crackdown." While few coding bootcamps have been "shut down" by their state's regulatory agencies, many are actively working with those agencies to become accredited. Accreditation does not mean that the code school is able to grant degrees. So what does it mean? Accredited coding bootcamps often have to submit their curricula (and any major curricula changes) for approval, invest in liability insurance in case of closure, and publicize their course catalog. </p>

      <p>Coding Bootcamps have caught the attention of many politicians and governments, including the White House Office of the CTO and President Obama, who launched the TechHire initiative in March 2015. In conjunction with TechHire, a group of top bootcamps announced the New Economy Skills Training Association (NESTA) to establish best practices, standards, and increase accountability for outcome-based NEST organizations. Once code schools begin publishing their outcomes through NESTA, this will likely become much more credible than state accreditation.</p>


    <h3>Which Programming Language Should I Learn First?</h3>
    <p>
      Coding bootcamps employ teaching languages to introduce students to the world of programming. While language shouldn’t be the main deciding factor when choosing a bootcamp, students may have specific career goals that guide them towards a particular language. In that case, first decide whether you’d prefer to program for mobile or the web. For the web, your main choices are Ruby, Python, Full-Stack JavaScript and .NET languages. For mobile, choose between Android and iOS. Learning a specific language may lead you to a new job market and offer pathways to different career tracks, average salaries and areas of business. However, once students learn one language, most say that picking up a new one is relatively easy. There is no “right” or “wrong” language to learn!</p>

    <h3>How much should I spend on coding bootcamp tuition?</h3>
    <p>
      The average full-time programming bootcamp in the US costs $9,900, with some bootcamps charging up to $20,000 in tuition. When making a decision, first calculate your Return on Investment (ROI): do your research and compare bootcamp tuition cost to the average starting salary of past graduates. Be sure to consider the opportunity cost incurred by quitting your job, room and board, and any hidden fees from loans. The amount of money that you’re willing to invest should probably correlate strongly with the amount of time and energy that you’re willing to put forth. </p>
      <p>Most bootcamps offer financing options, payment plans, and loan partnerships through companies like Climb Credit and Lendlayer, in addition to scholarships and discounts for women, military veterans, and underrepresented minorities.
    </p>


      <h3>Am I ready for a coding bootcamp?</h3>
      <p>
        Top bootcamps' acceptance rates are notoriously low (some between 3-6%), but that doesn't mean that you're not ready to learn to code. Programming Bootcamps are generally upfront about the minimum demands they make on their students. Some "zero to sixty" code schools are meant to bring beginners into the fold and other "twenty to one-twenty" bootcamps aim to help current developers make a leap or learn a new technology stack. First, figure out what your own skill level is, and then find the bootcamp that aligns with that level.
      </p>

      <h3>How do I pay for bootcamp?</h3>
      <p>
        Bootcamps are expensive. Because code schools are not degree-granting institutions, most bootcampers don't qualify for traditional student loans like Pell Grants. As a result, many students put their tuition on a credit card, borrow money from friends and family, or use savings. As the coding bootcamp industry has grown, so too has the business of financing them. There are a number of different lending options like LendLayer, Climb and Earnest.
      </p>

  </div>
</div>

<%= render partial: "layouts/footer" %>
