<div class="footer">

  <div class="col-md-3">
    <h4>FOLLOW US</h4>
    <%= link_to image_tag("facebook.png"), "https://www.facebook.com/" %>
      <%= link_to image_tag("twitter.png"), "https://twitter.com/leahhuyghe" %>
  </div>
  <div class="col-md-3">
    <h4>CONNECT</h4>
    <p><a href="mailto:hello@soyouthinkyoucanbootcamp.com?subject=feedback?">Email us</a></p>
    <p><%= link_to 'FAQ', faq_index_path %></p>
    <p><a href="#">Blog</a></p>
    <p><a href="#">About</a></p>
  </div>
  <div class="col-md-3">
    <h4>COMPANY</h4>
    <p><a href="#">Disclaimer</a></p>
    <p><a href="#">Terms of Use</a></p>
    <p><a href="#">Privacy Policy</a></p>

  </div>
  <div class="col-md-3" style="margin-top: 50px;">
    <%= link_to image_tag('syt_logo.png'), root_path %>
  </div>

</div>
