<div class="footer">

  <div class="col-md-3">
    <h4>FOLLOW US</h4>
    <%= link_to image_tag("facebook.png"), "https://www.facebook.com/" %>
      <%= link_to image_tag("twitter.png"), "https://twitter.com/leahhuyghe" %>
  </div>
  <div class="col-md-3">
    <h4>CONNECT</h4>
    <p><a href="mailto:hello@soyouthinkyoucanbootcamp.com?subject=feedback?" style="color: #fff !important;">Email us</a></p>
    <p><%= link_to 'FAQ', faq_index_path, style: "color: #fff !important;"%></p>
    <p><a href="#" style="color: #fff !important;">Blog</a></p>
    <p><a href="#" style="color: #fff !important;">About</a></p>
  </div>
  <div class="col-md-3">
    <h4>COMPANY</h4>
    <p style="color: #fff !important;"><a href="#" style="color: #fff !important;">Disclaimer</a></p>
    <p><a href="#" style="color: #fff !important;">Terms of Use</a></p>
    <p><a href="#" style="color: #fff !important;">Privacy Policy</a></p>
    <p><a href="#" style="color: #fff !important;">Careers</a></p>

  </div>
  <div class="col-md-3" style="margin-top: 50px;">
    <%= link_to image_tag('syt_logo.png'), root_path %>
  </div>

</div>
