<!DOCTYPE html>
<html>
<head>
  <title>So You Think You Can Bootcamp?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="nav nav-pills">
    <li role="presentation" class="active"><a href="schools#index">Home</a></li>
  <li role="presentation"><a href="#">FAQ</a></li>
  <li role="presentation"><a href="#">Contact</a></li>
  </nav>

<%= yield %>

</body>
</html>
